.searchbus-container{
    width:100%;
    height: auto;
    min-height: 80vh;
    background: url('https://shinebus.com/shinetourandtravels/slider/images/site/online-bus-ticket-booking-shine-tour-travels-01.jpg');
}

.search-bar{
    width:70%;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    position:relative;
    cursor:pointer;
}